/** @format */

#mainbox {
	display: flex;
	padding: 10px;

	width: 75%;
	margin: auto;
	background-color: white;
}
#top {
	width: 300px;
	height: 70px;
	background-color: rgb(240, 217, 13);
	margin: auto;
	border-radius: 5px;
}
#top1 {
	width: 300px;
	height: 70px;
	background-color: rgb(49, 49, 211);
	margin: auto;
	border-radius: 5px;
}
#top2 {
	width: 300px;
	height: 70px;
	background-color: rgb(54, 170, 216);
	margin: auto;
	border-radius: 5px;
}

.text {
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}
.circle {
	width: 50px;
	height: 50px;
	background-color: white;
	float: left;
	border-radius: 50px;
	margin-top: 12px;
	margin-left: 20px;
}
.text1 {
	font-size: 28px;
}
#pro {
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}
.program {
	display: grid;
	grid-gap: 0px;

	width: 50%;
	margin: auto;
	margin-top: 20px;

	background-color: rgb(245, 238, 238);
	grid-template: 'a b c d';
}
#box1 {
	grid-area: a;
	background-color: rgb(54, 170, 216);
	height: 35px;
	border-radius: 5px;
}
#box2 {
	grid-area: b;
	background-color: rgb(238, 236, 236);
	height: 35px;
}
#box3 {
	grid-area: c;
	background-color: rgb(238, 236, 236);
	height: 35px;
}
#box4 {
	grid-area: d;
	background-color: rgb(238, 236, 236);
	height: 35px;
}
#box1 > div {
	color: black;
	text-align: center;
	margin-top: 5px;
	font-size: 23px;
}
#box2 div {
	color: black;
	text-align: center;
	margin-top: 5px;
	font-size: 23px;
}
#box3 > div {
	color: black;
	text-align: center;
	margin-top: 5px;
	font-size: 23px;
}
#box4 > div {
	color: black;
	text-align: center;
	margin-top: 5px;
	font-size: 23px;
}
#img {
	width: 80%;
	height: 400px;
	background-color: white;
	margin: auto;
}

.img1 {
	width: 270px;
	height: 150px;
	margin-left: 60px;
	margin-top: 10px;
}
.apply {
	width: 120px;
	height: 40px;
	background-color: green;
	margin-left: 70px;
	border: 1px;
	color: rgb(54, 170, 216);
	border-style: solid;
	background-color: white;
	margin-top: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgtext1 {
	margin-left: 70px;
	margin-top: 12px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgtext2 {
	margin-left: 70px;
	margin-top: 1px;
	font-weight: bold;
}
.imgtext3 {
	width: 150px;
	margin-left: 70px;
	color: gray;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
.ap {
	margin-top: 10px;
	margin-left: 15px;
}
.margin {
	margin-left: 15px;
}
@media (max-width: 1000px) {
	.program {
		grid-template:
			'a b '
			'c d';
	}
}
@media (max-width: 750px) {
	.program {
		grid-template:
			'a '
			'b'
			'c'
			'd';
	}
	#mainbox > div > .text > div {
		font-size: 14px;
	}
	#mainbox > div > .text {
		margin-top: 14px;
	}
}
